@import "tailwindcss";

@utility animate-wave-scroll {
  animation: wave-scroll 2s linear infinite;
}

@keyframes wave-scroll {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -24px;
  }
}

html {
  /* 90%にするといい感じになる */
  font-size: 90%;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
